<!DOCTYPE html>
<html>
<center>
 <head>
 	<meta charset="utf-8">
 	<meta name="description" content="This web is related to CN project.">
 	<title>BIPOLAR SCHEME</title>
 </head> 
 <body style="background-color:AntiqueWhite;">
  <header>

 	<h2>Question</h2>

  </header>
  <main>

 	<p><big>Convert the given digital data into digital signal using<b> bipolar Scheme</b>:</big></p>

 	<p><big>Write:</big></p>
 	<p><big><b>+</b> : For +ve value of voltage</big></p>
 	<p><big><b>-</b> : For -ve value of voltage</big></p>
 	<p><big><b>0</b> : For zero value of voltage</big></p>

 	<hr/><!--seprate with line-->


 	<p style="color:brown;"><b><big>010010</big></b></p>
 	<!--GRAPH-->

 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
    <h1>AMI GRAPH</h1>
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	

    <!--GRAPH-->
	    <body>
	  <head>
	    <style>
	      input[type=string] {
	          height: 45px;
	          width: 45px;
	          font-size: 25px;
	          text-align: center;
	          border: 1px solid #000000;
	      }
	      input[type=string]::-webkit-inner-spin-button,
	      input[type=string]::-webkit-outer-spin-button {
	        -webkit-appearance: none;
	        margin: 0;
	      }
	    </style>
	    <script>
	      function getCodeBoxElement(index) {
	        return document.getElementById('codeBox' + index);
	      }
	      function onKeyUpEvent(index, event) {
	        const eventCode = event.which || event.keyCode;
	        if (getCodeBoxElement(index).value.length === 1) {
	          if (index !== 12) {
	            getCodeBoxElement(index+ 1).focus();
	          } else {
	            getCodeBoxElement(index).blur();
	            // Submit code
	            console.log('submit code ');
	          }
	        }
	        if (eventCode === 8 && index !== 1) {
	          getCodeBoxElement(index - 1).focus();
	        }
	      }
	      function onFocusEvent(index) {
	        for (item = 1; item < index; item++) {
	          const currentElement = getCodeBoxElement(item);
	          if (!currentElement.value) {
	              currentElement.focus();
	              break;
	          }
	        }
	      }
	    </script>
	  </head>
	  <body>
	    <form>
	        <input id="codeBox1" type="string" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)"/>
	        <input id="codeBox2" type="string" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)"/>
	        <input id="codeBox3" type="string" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)"/>
	        <input id="codeBox4" type="string" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)"/>
	        <input id="codeBox5" type="string" maxlength="1" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)"/>
	        <input id="codeBox6" type="string" maxlength="1" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)"/>
	    </form>
	    <form>
	        <input id="codeBox7" type="string" maxlength="1" onkeyup="onKeyUpEvent(7, event)" onfocus="onFocusEvent(1)"/>
	        <input id="codeBox8" type="string" maxlength="1" onkeyup="onKeyUpEvent(8, event)" onfocus="onFocusEvent(2)"/>
	        <input id="codeBox9" type="string" maxlength="1" onkeyup="onKeyUpEvent(9, event)" onfocus="onFocusEvent(3)"/>
	        <input id="codeBox10" type="string" maxlength="1" onkeyup="onKeyUpEvent(10, event)" onfocus="onFocusEvent(4)"/>
	        <input id="codeBox11" type="string" maxlength="1" onkeyup="onKeyUpEvent(11, event)" onfocus="onFocusEvent(5)"/>
	        <input id="codeBox12" type="string" maxlength="1" onkeyup="onKeyUpEvent(12, event)" onfocus="onFocusEvent(6)"/>
	    </form>
	  </body>
	</body>

    <!--GRAPH-->

 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
    <h1>psedo GRAPH</h1>
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	<br/><!--seprate with space-->
 	

    <!--GRAPH-->












 	<hr/><!--seprate with line-->

 	<a href="https://www.javatpoint.com/computer-network-digital-transmission" target="_blank"><h4>For reference</h4></a>
 	

 	<hr/><!--seprate with line-->


 </main>
 <footer>
 	 
 	

 	<!--link correction check--><a href="bi_ans.html"><h1>Submit</h1></a>

 	

 </footer>

 </body>

</center>
</html>