{% extends 'base.html' %}
{% block headdata %}
<title>Vlab: Line Coding</title>
{% endblock %}
{% block content %}
<body style="background-color:AntiqueWhite;">

	<header>
		<br>

 		<h3>Types of digital to digital conversion</h3>

 	</header>
 	<main>
 		<ul>
 			
 			<a href="{{url_for('unipolar')}}"><h1>Unipolar Scheme</h1>
 			<br>
 			<h1>Bipolar Scheme: </h1>
 			<a href="{{url_for('ami')}}"><h2>		1. AMI </h2>	
 			<a href="{{url_for('pseudoternary')}}"><h2>		2. Pseduoternary </h2>
 		</ul>

 	</main>

 </body>
 {% endblock %}