<!DOCTYPE html>
<html>

 <head>
 	<meta charset="utf-8">
 	<meta name="description" content="This web is related to CN project.">
 	<title>UNIPOLAR SCHEME</title>
 </head> 
 <body style="background-color:AntiqueWhite;">
 	<header>

 	<h2>Ans</h2>

  </header>
  <main>
  	<p><big>Properties:</big></p>
  	<p><big>For NRZ(Non Return to Zero:</big></p>
  	<ul>
  		<li><big>0 :</big> zero Amplitude </li>
  		<li><big>1 :</big> +ve/-ve valu of Amplitude</li>
  	</ul>
  	
  </main>
</body>

</html>